modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq", "imagemagick", "python3"]

[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]





[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Game"

[[workflows.workflow]]
name = "Start Game"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_stripe:1.0.0", "javascript_openai:1.0.0", "javascript_object_storage:1.0.0"]
expertMode = true

[objectStorage]
defaultBucketID = "replit-objstore-b88569a0-c646-4fb6-af50-2a3b0e91edc6"

[[ports]]
localPort = 5000
externalPort = 80


